<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default_layout}" lang="en">
<head>
    <meta charset="UTF-8">
    <title>VeTT</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/auth/changePassword.css}" >
    </th:block>
</head>
<body>
<div layout:fragment="content">
    <div class="main-container">
        <h2 class="header">
            Change Admin Password
        </h2>
        <div class="change-password-container">
            <form class="change-password-form">
                <div>
                    <label for="oldPassword" hidden="hidden">Old ADMIN PASSWORD</label>
                    <input oninput="hideErrorMessage()" type="password" placeholder="OLD ADMIN PASSWORD" id="oldPassword" name="oldPassword">
                </div>
                <div>
                    <label for="newPassword" hidden="hidden">NEW PASSWORD</label>
                    <input oninput="hideErrorMessage()" type="password" placeholder="NEW ADMIN PASSWORD" id="newPassword" name="newPassword">
                </div>
                <div>
                    <label for="confirmNewPassword" hidden="hidden">Confirm NEW PASSWORD</label>
                    <input oninput="hideErrorMessage()" type="password" placeholder="NEW ADMIN PASSWORD" id="confirmNewPassword" name="confirmNewPassword">
                </div>
                <div class="error-message-wrapper">
                    <p class="error-message"></p>
                </div>
                <div class="button-container">
                    <button class="submit-button" type="submit">Update Password</button>
                </div>
            </form>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script th:src="@{/js/api/memberApi.js}"></script>
        <script th:src="@{/js/auth/changePassword.js}"></script>
    </th:block>
</div>
</body>
</html>