.main-container{
    width:80%;
    padding:100px 0;
    margin:0 auto;
}
.header{
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
}
.change-password-container{
    width:400px;
    margin:0 auto;
}
.change-password-container input{
    display:block;
    height:60px;
    padding:10px 10px;
    border:1px solid #c4c4c4;
    border-radius: 8px;
    background-color:#fff;
    color:#333;
    font-size: 15px;
    font-weight:bold;
    font-family: "Noto Sans KR", sans-serif;
    box-sizing:border-box;
    width:100%;
    margin:10px 0;
}
.change-password-container input:focus{
    border-color: #453fb2;
    border-width: 1px;
    outline: none;
}
.button-container{
    margin:20px 0;
}
.submit-button{
    width:100%;
    margin:0 auto;
    text-align: center;
    font-size:15px;
    font-weight: 600;
    border: none;
    padding: 15px 50px;
    border-radius: 8px;
    background-color: #453fb2;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.submit-button:hover{
    transform: scale(1.1);
}
.submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.error-message-wrapper {
    display: none;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-50px);
    }
}
.fade-in {
    display: block;
    animation: fadeIn 0.3s ease-in-out forwards;
}
.fade-out {
    animation: fadeOut 0.3s ease-in-out forwards;
}
.error-message{
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color:red;
    margin:20px 0;
}